
.game-board-layout{
    background-color: yellow;
  }
  
  .nav {

    height: 56px;
    background-color: rgb(130, 238, 236);
    }

  .arena-grid-container {
    display: grid;
    grid-template-areas:
      "players"
      "goboard"
      "actions"
      "chat"
  ;
    grid-template-rows: 90px calc(100vw - 16px) 150px 1fr;
    background-color: green;
    grid-template-columns: 1fr;
  }

  .goboard {
    background-color: bisque;
  height: calc(100vmin - 16px) ;
    width: 1calc(100vmin - 16px) ; 
    aspect-ratio: 5/5;
    outline: 1px black solid;
}

.players {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  grid-area: players;
  background-color: rgb(130, 215, 238);
  height: 100%;
  width: 100%;
  outline: 1px black solid;
}
.player-box{
  flex-grow: 1;
}
.player{
  background-color: rgb(0, 149, 255);
  outline: 1px black solid;
}

.opponent{
  background-color: rgb(128, 0, 0);
}
/* 
@media (min-width: calc(100vh - 240px)) and (min-height:1300px){ */

@media (min-width: calc(100vh - 240px)) {
  .player{
    background-color: rgb(89, 255, 0);
    outline: 1px black solid;
  }
  .arena-grid-container {
    grid-template-rows: 90px calc(100vmin - 240px) 150px 1fr;
    background-color: rgb(150, 200, 150);
  }
  .game-board-layout{
    max-width: calc(100vmin - 240px);
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
  }
  .goboard {
    background-color: bisque;
  height: calc(100vmin - 240px);
    width: calc(100vmin - 240px); 
    aspect-ratio: 5/5;
    outline: 1px black solid;
}
}
/* @media(min-width: 1600px) and (min-height:1300px){ */
@media(min-width: 1600px) {
  .game-board-layout{
    max-width: calc(130vh - 16px);
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
  }
  
  .arena-grid-container {
    display: grid;
     grid-template-columns: calc(90vh - 16px) 40vh; 
     grid-template-areas:
     "goboard players"
     "goboard actions"
     "goboard chat";
    grid-template-rows: 90px 150px calc(90vh - 16px) calc(90vh - 240px)  ;
    background-color: green;

  }
  .goboard {
    background-color: bisque;
  height: calc(90vh - 16px);
    width: calc(90vh - 16px); 
    aspect-ratio: 5/5;
    outline: 1px black solid;
}

.chat{
  height: calc(90vh - 256px);
}
}
  .actions {
    grid-area: actions;
    background-color: aqua;
    width: 100%;
  
  }
  .chat {
    grid-area: chat;
    background-color: thistle;
    min-height: 250px;
    width: 100%;
  }






  @media (max-height: 1000px)  {

  
.game-board-layout{
  background-color: yellow;
  max-width: calc(100vh - 16px);
}

.nav {

  height: 56px;
  background-color: rgb(130, 238, 236);
  }

.arena-grid-container {
  display: grid;
  grid-template-areas:
    "players"
    "goboard"
    "actions"
    "chat"
;
  grid-template-rows: 90px calc(100vh - 16px) 150px 1fr;
  background-color: green;
  grid-template-columns: 1fr;
}

.goboard {
  background-color: bisque;
height: calc(100vh - 16px) ;
  width: calc(100vh - 16px) ; 
  aspect-ratio: 5/5;
  outline: 1px black solid;
}

.players {
display: flex;
gap: 1rem;
flex-direction: row;
grid-area: players;
background-color: rgb(130, 215, 238);
height: 100%;
width: 100%;
outline: 1px black solid;
}
.player-box{
flex-grow: 1;
}
.player{
background-color: rgb(0, 149, 255);
outline: 1px black solid;
}

.opponent{
background-color: rgb(128, 0, 0);
}
 
  }
