.game-container{
  max-width: 130vh;
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}
.nav {
  width: 100%;
  height: 50px;
  background-color: rgb(130, 238, 236);
 
}

.arena-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 80fr 31fr;
  grid-template-areas:
    "goboard players"
    "goboard actions"
    "goboard chat";
  grid-template-rows: 130px 90px 1fr;
  max-width: 130vh;
  background-color: green;
/*   border: 2px black solid; */
}

.goboard {
    grid-area: goboard;
    background-color: bisque;
    /*     width:300px; */
    /* grid-row: span 3; */
  }
  .players {
    /*   width: 300px; */
    display: flex;
    flex-direction: row;
    grid-area: players;
    background-color: violet;
    height: 100%;
    width: 100%;
  }
  .player{
    width:50%;
    background-color: yellow;
  }
  
  .opponent{
    width:50%;
    background-color: green;
  }
  .actions {
    grid-area: actions;
    background-color: aqua;
    width: 100%;
  
  }
  .chat {
    grid-area: chat;
    background-color: thistle;
    min-height: 251px;
    width: 100%;
  }
  .goboard {
    width: 100%;
    background-color: bisque;
    aspect-ratio: 5/5;
/*     border: 2px black solid; */
    /* flex-basis: 50%;
    flex-grow: 1;
    flex-shrink:1; */
    max-height: 1230px;
    max-width: 1230px;
    width: 72vw 1230px;
    height: 72vw 1230px;
  }





@media screen and (max-width: 1000px) {

  .game-container {


    max-width: 95vw;
  }

  .arena-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "players"
      "goboard"
      "actions"
      "chat";
    grid-template-rows: 90px 95vw 90px 251px;
    max-width: 95vw;
  }
  .goboard {
    width: 95vw;
    height: 95vw;
    background-color: bisque;
    aspect-ratio: 1/1;
    /* border: 2px black solid; */
    /*  grid-row: auto; */
    /* flex-basis: 50%;
    flex-grow: 1;
    flex-shrink:1; */
    /* max-width: 95vh;
    max-height: 95vh; */
  }
  .actions{
    height:150px;
  }
}
@media screen and (max-width: 1800px) {
  .game-arena-grid {
    width: 100%;
    grid-template-columns: 1fr 50vh;
    grid-template-areas:
      "LO BB"
      "YO BB"
      "OP BB"
      "AC BB"
      "CH BB"
      "HE BB";
    grid-template-rows: 1fr 3fr 3fr 2fr 2fr 0px;
  }
  .grid-item-he {
    display: none;
  }
}



.arena-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.control-column {
  flex-basis: 25%;
  width: 400px;
  min-width: 340px;
  min-width: 340px;
  background-color: aquamarine;
}
/* 
@media screen and (max-width: 900px) {
    .arena-flex-container{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: stretch;
        width: 100%;
        height: 100%;
    }
    .go-board{
        width: 75%;
    background-color: bisque;
    aspect-ratio: 5/5;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink:1;
    max-width: 95vh;
    max-height: 95vh;
    }
    .control-column {
        flex-basis: 25%;
        width:400px;
        min-width:340px;
        min-width: 340px;
        background-color: aquamarine;
    }
    
} */
